@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');

/* CSS Reset */
* {
    margin: 0;
    padding: 0;
}

/* CSS Variables */
:root {
    --color: #00bfa6;
}

/* CSS in Body */
body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('/images/background.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 100vh;
}

.logo {
    width: 50%;
}

.logo img {
    width: 110px;
    height: 110px;

}

.navbar {
    display: flex;
}

.navbar .navlist {
    display: flex;
    margin-top: 30px;
    margin-left: 10%;


}

.navbar .navlist li {
    padding-left: 50px;
    list-style: none;

}

.navbar .navlist li a {
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Baloo Bhai 2';
    font-size: 1.35rem;
    text-decoration: none;
}

.navbar .navlist li a:hover {
    color: grey;
}

.web-content{
    display: flex;
}


.intro {
    font-family: 'Baloo Bhai 2';
    width: 50%;
    padding: 80px;
}

.intro h2 {
    text-align: center;
    color: var(--color);
    font-size: 3rem;

}

.intro h2 span {
    animation: animate 10s infinite;
    color: #00bfa6;
}

@keyframes animate {
    0% {
        color: #00bfa6;
    }

    30% {
        color: purple;
    }

    50% {
        color: lightseagreen
    }

    75% {
        color: red;
    }

    100% {
        color: purple;
    }
}

.intro p {
    text-align: center;
    font-size: 1.5rem;
    color: lightgreen;
}

.intro .ord {
    text-align: center;

}

.intro .ord .btn {
    font-weight: bold;
    font-family: 'Baloo Bhai 2';
    color: #000000;
    width: 100px;
    height: 35px;
    background: lightgray;
    border: 2px solid lightgray;
    border-radius: 0.3rem;
    cursor: pointer;
}

.intro .ord .btn:hover {
    color: black;
    background-color: #00bfa6;
    border: 2px solid var(--color);

}

.sidebar {
    font-family: 'Baloo Bhai 2';
    background: white;
    width: 50%;
    margin-right: 20px;
    border: 2px solid black;
    border-radius: 0.4rem;

}

.sidebar h2 {
    color: var(--color);
    text-align: center;
    font-weight: bold;
}

.sidebar p {
    text-align: center;

}

.sidebar p span {
    font-family: 'Bree Serif';
    font-weight: bold;
}

.sidebar .hilight {
    color: var(--color);
}

.sidebar p #bakery {
    animation: bakery 3s infinite;
}

@keyframes bakery {
    0% {
        color: red;
    }

    30% {
        color: purple;
    }

    50% {
        color: #00e056f5;
    }

    75% {
        color: rgb(115, 255, 0);
    }

    100% {
        color: purple;
    }
}

.cake1 {
    background: url('/images/cake3.jpg') no-repeat center center/cover;
    margin-right: 5%;
    margin-left: 5%;
    width: 90%;
    height: 300px;
    border-radius: 0.4rem;
    animation: slidshow 15s infinite linear;

}

@keyframes slidshow {
    0% {
        background: url('/images/cake1.jpg') no-repeat center center/cover;
    }

    50% {
        background: url('/images/cake2.jpg') no-repeat center center/cover;
    }

    100% {
        background: url('/images/cake3.jpg') no-repeat center center/cover;
    }
}

.sidebar .ord2 {
    text-align: center;
    margin-bottom: 6px;
}

.sidebar .ord2 .btn2 {
    font-weight: bold;
    font-family: 'Baloo Bhai 2';
    color: #000000;
    width: 100px;
    height: 35px;
    background: lightgray;
    border: 2px solid var(--color);
    border-radius: 0.3rem;
    cursor: pointer;
}

.sidebar .ord2 .btn2:hover {
    color: black;
    background-color: #00bfa6;
    border: 2px solid var(--color);
}